
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
	color: #000;
	font-size: 16px;
}

* {
	box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 28px; 
	color: #747374;
	text-align: right;
	padding-right: 60px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 15px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

section {
	margin-bottom: 68px; 
}

p {
	margin: 0;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

.ContainerGroup {
	width: 1125px;
	margin: 0 auto;	/*in the center*/
	
}

.ColoredText_Sub {
	color: pink;
}

/*HOME button: ____________________________________*/


#HomeBT {      
    width: 120px;
    height: 27px;   
    border-radius: 4px;   
    margin: 30px;   
    position: fixed;   
    bottom: 30px;   
    right: 30px;   
    z-index: 1000; 
    display: inline-block;   
    border: 1px solid #ccc;
	
	font-size: 17px;
	letter-spacing: 0.1em;
	text-align: center; 

	/*background-color: pink;*/
	animation: blink 10s infinite;
	-webkit-animation: blink 10s infinite;
	color: #fff;

	transition: all 0.5s ease;
} 

#HomeBT:hover {   
    cursor: pointer;   
    background-color: #fff;
	animation: paused;
    color: #747374;
} 

#HomeBT:active {
	background-color: pink;
	color: #fff;
}

/*HOME button animation: */
@keyframes blink {
	0% {background-color: #fdc0ca;}
	33% {background-color: #fc97a8;}
	66% {background-color: #ffaaba;}
	100% {background-color: #fdc0ca;}
}
@-webkit-keyframes blink {
	0% {background-color: #fdc0ca;}
	33% {background-color: #fc97a8;}
	66% {background-color: #ffaaba;}
	100% {background-color: #fdc0ca	;}
}

/*header: ____________________________________*/

header {
	background: url('../img/header.jpg') no-repeat center top / cover;
	background-color: rgba(213, 227, 239, 0.2); /*color mask*/
	background-blend-mode: hard-light; /*color mask*/
	padding-top: 57px;
	color: pink;
	padding-bottom: 322px;
}

header a {
	color: #747374;
}

.HeaderNavigationGroup {
	display: flex;
	align-items: center;
	padding-top: 57px;
	
}

.HeaderLogo_Img {
	margin-right: 69px;
}

.HeaderMenu {
	display: flex;
}

.HeaderMenu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.1em; 
}

.HeaderMenu a:hover {
	background: pink;
	color: #fff;
}

.HeaderMenu li {
	margin-right: 40px;
}

.HeaderPhone {
	font-size: 17px;
	text-decoration: none;
	margin-left: auto; /*in the right side*/
	letter-spacing: 0.1em; 
	background: #fff; 
	color: pink;
	transition: all 0.5s ease;

}

.HeaderPhone:hover {
	background: pink;
	color: #fff;
}


.HeaderOfferGroup {
	text-transform: uppercase;
	margin-top: 116px;
}

.HeaderOfferGroup p {
	font-size: 30px;
	letter-spacing: 0.1em;
	
}

.HeaderOfferGroup h1 {
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.01em;	
}

.OpenPetCatalogBT {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px, 47px;
	border: 1px solid #ccc;
	width: 238px;
	transition: all 0.5s ease;
	border-radius: 4px;   
}

.OpenPetCatalogBT:hover {
	cursor: pointer;   
	background: pink;
	color: #fff;
}


.OpenPetCatalogBT:active {
	background-color: #fff;
	color: #747374;
}

/*WhyChooseUs_Section: ____________________________________*/

.WhyChooseUs_Section {
	background-color: #fff;
	margin-top: 68px;
}

.WhyChooseUsGroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.WhyChooseUs_1 {
	width: 350px;
	display: flex;
}

.WhyChooseUs_2 {
	padding-left: 15px;
	color: #747374;
}

/*PetCatalog_Section: ____________________________________*/

.PetCatalog_Section {
	background-color: #fff;
	padding-right: 25px;
	padding-top: 18px;

}

.PetColumnGroup {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.PetRowGroup {
display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.AddToCartBT {
	display: block;
	padding: 0;
	border: none; 
	width: 42px;
	color: #fff;
	align-items: center;
	justify-content: center;
}

.AddToCartBT:hover {
	cursor: pointer;   
}

.PetGroup {
	margin: 0 10px;
}

.Pet_Img img{
	width: 250px;
	height: 100%;
	object-fit: cover;
	border-radius: 17px; 
}

.PetInfoGroup h3 {
	font-size: 21px;
	color: #747374;
}

.PriceInfoGroup {
	width: 270px;
	display: flex;
	flex-flow: row nowrap; 
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.PriceInfoGroup p {
	font-size: 16px;
	font-weight: 700;
	color: #747374;
}

.PetPrice_Sub {
	font-size: 20px;
	font-weight: 700;
	color: #747374;
}

/*About_Section: ____________________________________*/

.AboutGroup {
	display: flex;
	justify-content: space-between; /*pushes the left and right containers on the sides*/
	color: #747374;
	padding-right: 10px;

}

.AboutGroup p {
	font-weight: 400;
	text-align: justify; /*uniform filling of space with text */
	line-height: 1.92em;
	
}

.About_1 img {
	padding-bottom: 28px;
}

.About_2 {
	width: 750px;
	height: 100%;
	background: #fff;
} 

/*Gallery_Section: ____________________________________*/

.Gallery_Section {
	padding: 0 0 0 15px;
	background-color: #fff;
	width: 1500px;
}

.GalleryGroup {
	padding: 0 0;
}

.Gallery_1 {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}

/*Feedback_Section: ____________________________________*/

.FeedbackGroup {
	display: flex;
	justify-content: flex-end; /*right side*/
	align-items: center;
	margin: 0;
	padding-right: 70px;
	padding-bottom: 250px;
	background: url('../img/feedback.jpg') no-repeat center top / cover;
	clip-path: polygon(0 30%, 0 15%, 100% 0, 100% 85%, 0 100%, 0 100%, 0 82%, 0% 43%, 0 9%);
	height: 550px;
}

.Feedback_1 {
	width: 180px;
	height: 145px;
}

.Feedback_1 p {
	color: #525252;
	margin: 10px;
	font-size: 16px;
	width: 200px;
	padding: 5px;
}

.FeedbackTextInputGroup {
	margin: 10px;
}

.FeedbackTextInputGroup input {
	width: 200px;
	height: 20px;
	color: #323232;
	background-color: #fff;
	border: 1px solid #ccc
}

.FeedbackTextInputGroup textarea {
	width: 200px;
	height: 150px;
	color: #323232;
	background-color: #fff;
	border: 1px solid #ccc
}

.FeedbackBT {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px, 47px;
	border: 1px solid grey;
	width: 200px;
	transition: all 0.5s ease;
	border-radius: 4px;  
	margin: 10px;
	background: #fff;
	color: #525252;
}

.FeedbackBT:hover {
	cursor: pointer;   
	background: pink;
	color: #fff;
}

/*footer: ____________________________________*/

footer {
	background-color: #fff;
}

.FooterGroup {
	font-size: 15px;
	display: flex;
	padding-top: 58px;
}

.FooterGroup p {
	color: #747374;
	text-align: left;
	padding-left: 30px;
}
