body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
	color: 000;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 28px; /*distance between header and content, in future too*/
	color: #747374; /*nice grey*/
	text-align: right;
	padding-right: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 15px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 58px; /*this is also will work for every new section in future*/
}

p {
	margin: 0;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

.ContainerGroup {
	width: 1250px;
	/* center positioning */
	margin: 0 auto;	
}

.ColoredText_Sub {
	color: pink;
}

/*header: ____________________________________*/

header {
	background: url('../img/header.jpg') no-repeat center top / cover; 
	padding-top: 57px;
	color: pink;
	padding-bottom: 322px; 
	
}

header a {
	color: #747374;
}

.HeaderNavigationGroup {
	display: flex;
	align-items: center;
	/*margin-top: 57px; keeps header img so we using padding */
	padding-top: 57px;
}

.HeaderLogo_Img {
	margin-right: 69px;
}

.HeaderMenu {
	display: flex;
}

.HeaderMenu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.1em; 
}

.HeaderMenu a:hover {
	background: pink;
	color: #fff;
}

.HeaderMenu li {
	margin-right: 40px;
}

.HeaderPhone {
	font-size: 17px;
	text-decoration: none;
	margin-left: auto; /*setting in the right side*/
	letter-spacing: 0.1em; /*space between text symbols*/
	background: #fff; 
	color: pink;
	transition: all 0.5s ease;

}

.HeaderPhone:hover {
	background: pink; 
	color: #fff;
}


.HeaderOfferGroup {
	text-transform: uppercase;
	margin-top: 116px;
}

.HeaderOfferGroup p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.HeaderOfferGroup h1 {
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em;	<>
}

.OpenPetCatalogBT {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px, 47px;
	border: 1px solid #ccc;
	width: 238px;
	transition: all 0.5s ease;
}

.OpenPetCatalogBT:hover {
	background: pink;
	color: #fff;
}

/*WhyChooseUs_Section: ____________________________________*/


.WhyChooseUsGroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.WhyChooseUs_1 {
	width: 350px;
	display: flex;
}

.WhyChooseUs_2 {
	padding-left: 15px;
	color: #747374;
}


/*About_Section: ____________________________________*/

.AboutGroup {
	display: flex;
	justify-content: space-between; /*pushes the left and right containers on the sides*/
	color: #747374;
}

.AboutGroup p {
	font-weight: 400;
	text-align: justify; /*uniform filling of space with text */
	line-height: 1.92em;
}

.About_1 img {
	padding-bottom: 58px; 
}

.About_2 {
	width: 770px;
} 

/*Gallery_Section: ____________________________________*/

.Gallery_Section {
	padding: 0 60px;
}

.GalleryGroup {
	padding: 0 0 0 60px;
}

.Gallery_1 {
	display: flex;
	justify-content: space-between;
}


/*footer: ____________________________________*/


.FooterGroup {
	font-size: 15px;
	display: flex;
	padding-top: 58px;
}

.FooterGroup p {
	color: #747374;
	text-align: left;
	padding-left: 60px;
}
